<%-include('../partials/header.ejs')%>

<%-include('../partials/_navbar.ejs')%>

<div class ="container">
    <% if(!user.firstUser){ %>
    <div class="card card-body mb-4  text-center">
        <div class="mb-2" style="border-radius: 100px;margin:auto">
            <div class=""
                 style="background-image:url('<%= user.image %>'); width: 100px; height: 100px; background-position: center;background-size: contain">
                <div class="imageArea" onmouseover="overlay()">

                </div>
            </div>


        </div>
        <h2 class="mb-2">Welcome <%= user.name %></h2>
        <p style="color: darkgrey"><%= user.email %></p>
        <p style="color: darkgrey">You have submitted form. Below is the given performance of your teachers as filled by other students.</p>
        <!--<a style="width:100px" class="btn btn-dark mb-2 main-button" href="/ideas/add/">Add Idea</a>-->

    </div>
    <%}%>

<div class="row">
    <div class="col-sm-6" style="margin:auto">

    <canvas id ="mycharts1">

    </canvas>
    </div>
        <div class="col-sm-6" style="margin:auto">

            <canvas id ="mycharts2">

            </canvas>
        </div>
</div>
</div>


<script>
    <%let labels=[];%>
    <%performance.map(val=>{return labels.push(val.facultyName)});%>

    <%let data=[];%>
    <%performance.map(val=>{ return data.push(val.performance)});%>
    var mycharts = document.getElementById('mycharts1').getContext('2d');
    var massPop = new Chart(mycharts,{


        type: 'line',
        data:{
            labels:[
                <%for(let i=0;i<labels.length;i++){%>
                '<%-labels[i]%>'
                <%if(i!==labels.length-1){%>
                <%=','%>
                <%}%>
                <%}%>

            ],
            datasets:[{
                label:'Total Performance',
                data:[<%= data%>],
                borderWidth:1,
                borderColor:'rosybrown',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
            }]

        },
        options: {
            title:{
                display: true,
                text: 'Teacher vs Overall Performance',
                fontSize:25
            },
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin: 0
                    }
                }]
            },

        }

    });


   // Chart.default.global.defaultFontFamily = 'Lato';
    //Chart.default.global.defaultFontSize = 18;
    //Chart.default.global.defaultFontColor = '#111';
</script>
<script>
    <%labels=[];%>
    <%bestPerformance.map(val=>{return labels.push(val.facultyName)});%>

    <%data=[];%>
    <%bestPerformance.map(val=>{ return data.push(val.performance)});%>
    var mycharts = document.getElementById('mycharts2').getContext('2d');
    var massPop = new Chart(mycharts,{


        type: 'line',
        data:{
            labels:[
                <%for(let i=0;i<labels.length;i++){%>
                '<%-labels[i]%>'
                <%if(i!==labels.length-1){%>
                <%=','%>
                <%}%>
                <%}%>

            ],
            datasets:[{
                label:'Best Performance',
                data:[<%= data%>],
                borderWidth:1,
                borderColor:'rosybrown',
                hoverBorderWidth:3,
                hoverBorderColor:'#000'
            }]

        },
        options: {
            title:{
                display: true,
                text: 'Teacher with most 4s and 5s',
                fontSize:25
            },
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin: 0
                    }
                }]
            }
        }

    });


    // Chart.default.global.defaultFontFamily = 'Lato';
    //Chart.default.global.defaultFontSize = 18;
    //Chart.default.global.defaultFontColor = '#111';
</script>












<%-include('../partials/footer.ejs')%>