<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<div class="container">

    <% if(success_msg.length > 0){ %>

        <div class="alert alert-success">
            <%= success_msg %>

        </div>

    <% } %>
    <% if(error_msg.length > 0){ %>

        <div class="alert alert-danger">
            <%= error_msg %>

        </div>
    <% } %>

    <% if(!user.firstUser){ %>
        <div class="card card-body mb-4  text-center">
            <div class="mb-2" style="border-radius: 100px;margin:auto">
                <div class=""
                     style="background-image:url('<%= user.image %>'); width: 100px; height: 100px; background-position: center;background-size: contain">
                    <div class="imageArea" onmouseover="overlay()">

                    </div>
                </div>


            </div>
            <h2 class="mb-2">Welcome <%= user.name %></h2>
            <p style="color: darkgrey"><%= user.email %></p>
            <!--<a style="width:100px" class="btn btn-dark mb-2 main-button" href="/ideas/add/">Add Idea</a>-->

        </div>
    <% } %>

    <% count = 0 %>
        <form action="/feedback/submit_form" method="post">
        <div class="card card-body">
            <h5 style="color: darkblue">PART-1: Imparting of knowledge/instructions as per curriculum with the
                prescribed manner.</h5>
            <div class="form-group">
                <label style="color: black">The lecture were well structured and focused as per the course
                    curriculum</label>
                <br>
                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c1" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c1" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>

            </div>

        </div>


        <div class="card card-body">

            <!----   <h3 class="mb-3">Faculty Name</h3>---->
            <div class="form-group">
                <label for="criteria1" style="color: black">The Teacher has fair knowledge of the Subject.</label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c2" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c2" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>

            </div>


        </div>


        <div class="card card-body">

            <!----   <h3 class="mb-3">Faculty Name</h3>---->
            <div class="form-group">
                <label for="criteria1" style="color: black">Methodology of teaching is stimulating and
                    effective.</label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c3" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c3" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>
            </div>

        </div>


        <div class="card card-body mb-3">

            <!----   <h3 class="mb-3">Faculty Name</h3>---->
            <div class="form-group">
                <label for="criteria1" style="color: black">The Teacher spends sufficient time for course coverage as
                    per the
                    syllabus.</label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c4" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c4" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>
            </div>


        </div>


        <div class="card card-body">

            <!----- <h3 class="mb-3">Faculty Name</h3>--->
            <h5 style="color: darkblue">PART-2:Participatory & Innovative T/L process with material based learning,case
                studies ,group
                discussions</h5>
            <div class="form-group">
                <label for="criteria1" style="color: black">The Teacher encourages students to raise pertinent questions
                    & makes lectures
                    participative.</label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c5" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c5" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>
            </div>


        </div>


        <div class="card card-body mb-3">

            <!----- <h3 class="mb-3">Faculty Name</h3>--->
            <!-- <h5>Participatory & Innovative T/L process with material based learning,case studies ,group discussions</h5>-->
            <div class="form-group">
                <label for="criteria1" style="color: black">The Teacher gives assignments and solves typical
                    problems/case studies in the
                    class.</label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c6" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c6" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>
            </div>


        </div>


        <div class="card card-body">

            <!----- <h3 class="mb-3">Faculty Name</h3>--->
            <h5 style="color: darkblue">PART-3: Student- Teacher relationship</h5>
            <div class="form-group">
                <label for="criteria1" style="color: black">The Teacher adheres to schedules and enforces
                    discipline.</label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c7" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c7" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>
            </div>


        </div>


        <div class="card card-body">

            <!----- <h3 class="mb-3">Faculty Name</h3>--->
            <!--- <h5>Participatory & Innovative T/L process with material based learning,case studies ,group discussions</h5>-->
            <div class="form-group">
                <label for="criteria1" style="color: black">The Teacher uses ICT techniques in the class such as ppt/ohp
                    besides chalk/marker
                    Board.</label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c8" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c8" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>
            </div>


        </div>


        <div class="card card-body">

            <!----- <h3 class="mb-3">Faculty Name</h3>--->
            <!---- <h5>Participatory & Innovative T/L process with material based learning,case studies ,group discussions</h5>--->
            <div class="form-group">
                <label for="criteria1" style="color: black">The Teacher has enthusiasm and concern for students.</label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c9" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c9" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>
            </div>


        </div>


        <div class="card card-body">

            <!----- <h3 class="mb-3">Faculty Name</h3>--->
            <!--- <h5>Participatory & Innovative T/L process with material based learning,case studies ,group discussions</h5>-->
            <div class="form-group">
                <label for="criteria1" style="color: black">The Teacher shows S/W implementation of problems/case
                    studies/web based study
                    material. </label>
                <br>

                <div class="" style="padding:1.5%;border: #FFD0C5 2px solid">
                    <% for(i = 1;i <= faculty.length;i++){ %>
                        <label for="<%= "f" + i + "c10" %>"><%= faculty[i - 1].name + " " %></label>
                        <label style="color: #BB3F30">(<%= faculty[i - 1].subject_name %>)</label>
                        <select class="form-control" id="criteria1" name="<%= "f" + i + "c10" %>">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    <% } %>
                </div>
            </div>


        </div>
            <div class="container" style="text-align:center; margin-top: 2%;margin-bottom: 2%">
            <button type="submit" style="text-align: center"  class="btn btn-primary">Submit</button>
            </div>
    </form>


</div>

<%- include('../partials/footer.ejs') %>