<%-include('../partials/header.ejs')%>

<%-include('../partials/_navbar.ejs')%>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">

            <h3 class="text-center">Account Login</h3>
            <%if(success_msg.length>0){%>
            <div class="alert alert-success"><%=success_msg%></div>
            <%}%>
            <%if(error_msg.length>0){%>
            <div class="alert alert-danger"><%=error_msg%></div>
            <%}%>
            <%if(message.length>0){%>
            <div class="alert alert-danger"><%=message%></div>
            <%}%>




            <form method="post" action="/users/login" class="mb-2">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
            <form action="/google-auth/google/callback" method="GET">
                <button type="submit" class="loginBtn loginBtn--google">Login with Google</button>
            </form>
        </div>
    </div>
</div>


<%-include('../partials/footer.ejs')%>